/* Video and canvas container */
#container, #canvas {
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
}

/* Screenshot size */
#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}

/* Final display of the image */
#canvas {
    width: 500px;
    height: 375px;
    background-color: #CCC;
}

/* Containing both the webcam and webcam output */
.webcamContainer {
    display: flex;
    justify-content: center;
}

.saveContainer {
    display: flex;
    justify-content: center;
}