/* Universal elements */
body {
    font-family: arial;
}

h1 {
    text-align: center;
    font-size: 351%;
}

/* Video and canvas container */
#container, #canvas {
    width: 650px;
    height: 490px;
    border: 3px #333 solid;
}

/* Screenshot size */
#videoElement {
    width: 650px;
    height: 490px;
    background-color: #666;
}

/* Containing both the webcam and webcam output */
.webcamContainer {
    display: flex;
    justify-content: center;
}

/* Container surrounding the 'capture' button */
.saveContainer {
    display: flex;
    justify-content: center;
}

/* 'capture' button */
.saveContainer input {
    font-size: 150%;
    padding: 1% 3%;
}